<div class="text-container">
  <h2>Des Objectifs :</h2>
  <p>
    L’association, qui est dénuée de tout objet de lucre, a pour objectif global:
    <br><br>la promotion de la Culture Burundaise, dont notamment l’Histoire, la Langue kirundi et les Valeurs UBUNTU qui expriment l’émancipation de l’humanisme universel.
    <br>Aussi, elle œuvre pour le rapprochement des cultures belges et burundaises sans opposition ni domination de l’une sur l’autre.
    <br>L’association a également pour objectif l’intégration de la jeunesse d’origine burundaise dans le tissu culturel et socio- professionnel belgo-burundais.
  </p>
</div>

