<div class="container">
  <h2>Langue Kirundi</h2>
  <p>Le Kirundi est la langue nationale du Burundi et est parlé par plus de 10 millions de personnes.
    <br>Il appartient au groupe des langues bantoues.</p>

  <div class="video-container">
    <iframe
      width="560"
      height="315"
      src="assets/Burundi Roots Days _ Kirundi _ Cuisine.mp4"
      title="Icigwa y'Ikirundi"
      frameborder="0"
      allowfullscreen>
    </iframe>
  </div>

  <p>

    Toutes les personnes désireuses de suivre le cours sont priées de nous contacter le plus rapidement possible à des fins d’organisation optimale.

    <br>Vous avez la possibilité de recevoir les précédents cours afin de vous mettre à niveau.

    <br>Venez nous rejoindre, nous sommes déjà 30 élèves en Belgique, au Danemark, au Grand Duché de Luxembourg et au Canada…

    <br><br>Le KIRUNDI fait partie des 3 domaines qui définissent un Peuple : son Histoire, sa langue et ses Us et Coutumes.
    <br>Nous aurons le cours d’Histoire par le Prof Gaspard Musavyarabona HISTOIRE (KAHISE) ainsi que le cours d’UBUNTU par le Prof Anselme Nimbeshaho plus tard dans l’annéeUBUNTU.

    <br><br>Pour l’heure, place au KIRUNDI. deux cours enfants (débutant, avancé) sera donné suivi de 3 niveaux pour le cours adulte. Chacun de 45 min et ce 2 fois par mois.

    <br>Certains d’entre nous ont déjà bien avancé dans la matière.

    <br><br>KAZE.</p>
</div>
