<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h3>À propos</h3>
      <p>Notre site web vous permet en un clin d'oeil avoir une vue de 360° sur nos activités</p>
    </div>
    <div class="footer-section">
      <h3>Liens rapides</h3>
      <ul>
        <li><a routerLink="/home">Accueil</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Suivez-nous</h3>
      <div class="social-icons">
        <a href="https://www.facebook.com/groups/316205045246498" target="_blank">Facebook</a>
        <a href="https://x.com/BurundiRoots" target="_blank">X</a>
        <a href="https://www.instagram.com/burundiroots/" target="_blank">Instagram</a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 Coopérative Ndiho J. | Tous droits réservés.</p>
  </div>
</footer>
